/**
* Footer CSS
* @class Footer
* @module layout.css
*/
footer
	background #f3f3f3
	color #808080
	font-size 11px
	margin-top 30px
	padding 15px 0
	p
		margin 10px 0 0
		text-align center
.foot-menu
	text-align center
	a
		color #808080
		font-size 11px
		line-height 13px
		margin 0 15px
		text-transform uppercase
		&:hover
			text-decoration underline