include jade/vars.jade
include jade/head.jade
body
	include jade/header.jade
	#wrapper
		.white-bg
			.row.ptb20
				.desc-static
					h2.titfx Eduardo Sánchez Bienvenido a Fuxión
					p Esta es tu nueva Oficina Virtual. Aquí encontrarás toda la información que necesitas para llevar tu negocio al siguiente nivel! En este año de la eXcelencia para Fuxion, queremos ofrecerte todas las herramientas para que alcancemos juntos la meta!
					.video-static
						iframe(width="560",height="315",frameborder="0",allowfullscreen,src="http://www.youtube.com/embed/h1BpO5CSooU")
				aside.side-static
					h2.titfx Calendarios de eventos
					iframe(width="300",scrolling="no",height="300",frameborder="0",src="https://www.google.com/calendar/embed?title=iFuxion%20Per%C3%BA&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=280&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=peru.fxbiotech%40gmail.com&amp;color=%232952A3&amp;ctz=America%2FLima")        
			.mb20
				h2.titfx Documento por Categoría
				#cat-fuxion
					.fx-ctnslide
						#fx-main.fx-slide
							.fx-lcat.fxcat5
								a(href="javascript:;",class="cat-fx cfx1")
									h3 Logotipo
									p Haz clic aquí
									span.catimg.catLogo
									span.catsignal
								a(href="javascript:;",class="cat-fx cfx2")
									h3 Banners
									p Haz clic aquí
									span.catimg.catBanner
									span.catsignal
								a(href="javascript:;",class="cat-fx cfx3")
									h3 Manuales
									p Haz clic aquí
									span.catimg.catManual
									span.catsignal
								a(href="javascript:;",class="cat-fx cfx4")
									h3 Productos
									p Haz clic aquí
									span.catimg.catProd
									span.catsignal
								a(href="javascript:;",class="cat-fx cfx5")
									h3 Afiliación
									p Haz clic aquí
									span.catimg.catAfi
									span.catsignal
							ul.fx-policies
								li
									a(href="javascript:;",title="Políticas de Seguridad") Políticas de Seguridad
										span.book
										span.signal
								li
									a(href="javascript:;",title="Nuevas Políticas Delivery") Nuevas Políticas Delivery
										span.book
										span.signal
						#fx-desc.fx-slide
							.bx-catfx
								.tit-bxcat
									h3 Categoría: 
										span Manuales
								.row
									ul.list-fxcat
										li
											h4 Manual Básico de Procedimientos y Políticas - Bolivia
											p Documento informativo de apoyo para los empresarios de Bolivia
											span.icons.ic-pdf
										li
											h4 Manual Básico de Procedimientos y Políticas - Chile
											p Documento informativo de apoyo para los empresarios de Chile
											span.icons.ic-pdf
										li
											h4 Manual Básico de Procedimientos y Políticas - EEUU
											p Documento informativo de apoyo para los empresarios de EEUU
											span.icons.ic-pdf
										li
											h4 Manual Básico de Procedimientos y Políticas - Panamá
											p Documento informativo de apoyo para los empresarios de Panamá
											span.icons.ic-pdf
										li
											h4 Manual Básico de Procedimientos y Políticas - Perú
											p Documento informativo de apoyo para los empresarios de Perú
											span.icons.ic-pdf
										li
											h4 Ficha de Registro Cuenta Bancaria - Perú
											p Documento informativo de apoyo para el registro de una cuenta bancaria
											span.icons.ic-pdf
										li
											h4 Instructivo para Envío de Facturas
											p Documento informativo de apoyo para los empresarios en el envío de facturas
											span.icons.ic-pdf
			.lowerfooter
				.row
					.foot-blog
						h3 Blog
					.foot-dinamic
						h3 Encuesta
					.foot-social
						h3 Redes Sociales
						ul
							li
								a(href="javascript:;",title="RSS",class="sprites-p rss")
							li
								a(href="javascript:;",title="Youtube",class="sprites-p youtube")
							li
								a(href="javascript:;",title="Facebook",class="sprites-p facebook")
							li
								a(href="javascript:;",title="Twitter",class="sprites-p twitter")
							li.fix
								a(href="javascript:;",title="Foursquare",class="sprites-p foursquare")
							li
								a(href="javascript:;",title="Google+",class="sprites-p gplus")
							li
								a(href="javascript:;",title="LinkeIn",class="sprites-p linkedin")