include jade/vars.jade
include jade/head.jade
body
	include jade/header.jade
	#wrapper	
		.white-bg
			section.content.home
				.home-cnt
					.widget-cnt
						h2.home Promociones
						section#slider
							img(src="http://local.landing/static/img/oficina/elements/banner-610x280/banner1.jpg")
					h2.home Como Estoy
					.widget-cnt.border
						.widget-profile
							table(border=0)
								tr
									td
										img(src="http://local.landing/static/img/oficina/elements/empresarios/158004.jpg").profile-pic
									td(colspan=2)
										h3.welcomeMsg 
											b Hola: 
											| Eduardo Roger Sánchez Castillo
								tr
									td
										i.sprites-p.icon-qr
									td	Código:
									td	158004
								tr
									td
										i.sprites-p.icon-check-green
									td	Activo:
									td	Si
								tr
									td
										i.sprites-p.icon-cycle
									td	Puntos de Ciclo:
									td	60
								tr
									td
										i.sprites-p.icon-pie
									td	Puntos de Semana:
									td	1
								tr
									td
										i.sprites-p.icon-reload
									td	Ciclo:
									td	0
								tr
									td
										i.sprites-p.icon-hat
									td	Calificado:
									td	Si
								tr
									td
										i.sprites-p.icon-calendar
									td	Semana Actual:
									td	42-2013
								tr
									td
										i.sprites-p.icon-medal
									td	Rango al que postulas:
									td	Plata

						.widget-myNet
							h3.center-title MI RED BINARIA
							div.speedometer-cnt.sprites-p.bg-widget-red
								div.sprites-p.bg-widget-speedometer
							table
								tr
									td 0
									td Saldo Inicial
									td 0
								tr
									td 601
									td Puntos Facturados
									td 0
								tr 
									td 601
									td Subtotal
									td 0
								tr
									td 0
									td Excedente
									td 0
								tr.big
									td.highlight 601 
										span pt
									td: b Total
									td.highlight 0 
										span pt
								tr.big.boxed
									td(colspan=2).cyan RED MULTINIVEL HOY
									td: b 2171
										span pt
					h2.home Mi próximo rango
					.widget-cnt
						.widget-nextRank
							.nextRank.sprites-p.bg-widget-nextRange
								.incomingRank
							.points
							.detalles
								i.sprites-p.arrow-left-silver
								span 0 linea de ejecutivo
								span 1 semana(s) en posición
				aside.home
					.widget-cnt
						h2.home Calendario de Eventos
						iframe(src="https://www.google.com/calendar/embed?height=280&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=prolife.com.pe_g1a7m6qcnqotdtdlm9uco3j3u4%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FLima", style=" border-width:0 ", width="290", height="280", frameborder="0", scrolling="no")
					.widget-cnt
						h2.home Hall de la fama
						section#slider-aside
							img(src="http://local.landing/static/img/oficina/elements/banner-275x540/banner1.jpg")
				section.content-footer
					.white-bg
						.column-medium
							h2 Blog
							.wrapper
								article
									b STEPHANIE MARTIN: JUVENTUD = EXPERIENCIA
									p
										|Al son de “En Barranquilla me quedo”, Stephanie Martin, nuestra líder Platino ** llena de vitalidad y energía, subió al estrado de Alumbra 2013 a recordarnos que la juventud no depende de la edad, sino que es un estado mental en el que todos debemos permanecer para siempre. “Trabaja más en ti que en tu...
									a(onclick="hacerClick('http://www.prolife.com.pe/blog/stephanie-martin-juventud-experiencia/')") Leer más
						.column-large
							h2 Video
							iframe(allowfullscreen="", frameborder="0", width="331", height="186", src="http://www.youtube.com/embed/Sg-MGbGzKCE?list=UUq9YtD_2Dk-E7fy6ZjeKPFQ")			
						.column-small
							h2 Redes Sociales
							.bottom
								a(href="#").sprites-p.social.rss
								a(href="#").sprites-p.social.youtube
								a(href="#").sprites-p.social.facebook
								a(href="#").sprites-p.social.twitter
								a(href="#").sprites-p.social.foursquare
								a(href="#").sprites-p.social.gplus
								a(href="#").sprites-p.social.linkedin
