include jade/vars.jade
include jade/head.jade
include jade/mixins.jade
body
	include jade/header.jade
	#wrapper
		.white-bg
			section.content.profile
				.bg.passwd
				h1.passTitle Cambiar Contrase単a

				fieldset
					label Contrase単a Actual
					input(type="text") 

				fieldset
					label Nueva Contrase単a
					input(type="text")

				fieldset
					label Repetir Nueva Contrase単a
					input(type="text")

				button.orange.passwd Cambiar
