/*
* Login CSS
* @class reset
* @module admin.css
*/
.content-login
	left 50%
	margin -160px 0 0 -161px
	position absolute
	top 50%
	width 320px
.login-panel
	.control-label
		width 62px
	.controls
		width 210px
.login-logo
	display block
	margin 0 auto 16px
	width 260px