/**
* Buttons CSS
* @class Buttons
* @module buttons.css
*/
.btn-quiz
	backgroundLighten(#00B5DA)
	border-radius 4px
	color #FFF
	display block
	font-family Arial,sans-serif
	font-size 12px
	font-weight 400
	padding 4px 20px
.btn-orange
	background-color #db8f1b
	border none
	border-radius 6px
	color white
	display inline-block
	*display inline
	font-size 12px
	font-weight bold
	height 35px
	line-height 35px
	padding 0 8px
	vertical-aling top
	*zoom 1
	hover(#db8f1b)
	.sprites-p
		display inline-block
		*display inline
		margin-right 6px
		vertical-align middle
		*zoom 1
.btn-back
	background-color #C9C9C9
	border none
	border-radius 6px
	color white
	display inline-block
	*display inline
	font-size 13px
	font-weight bold
	height 32px
	line-height 32px
	padding 0 8px
	width 78px
	vertical-aling top
	text-align center
	*zoom 1
	hover(#C9C9C9)