/**
* Icons CSS
* @class Icons Helper
* @module oficina.css
*/
.sprites
	background url(routImg+'sprites.png') no-repeat 
	display block
	&.logo-inv
		background-position -27px -7px
		width 171px
		height 63px
	&.logo
		background-position logoMain
		width 199px
		height 62px
	&.icon-key
		background-position -66px -87px
		width 21px
		height 10px
	&.icon-user
		background-position -34px -82px
		width 17px
		height 17px
	&.icon-trash
		background-position 0 -82px
		width 15px
		height 20px
	&.icon-email
		background-position -119px -85px
		height 17px
		width 17px
	&.icon-refresh
		background-position -154px -85px
		height 15px
		width 17px
.sprites-p
	background url(routImg+'sprites-productos.png') no-repeat
	display block
	&.icon-user
		background-position -1px -42px
		width 40px
		height 40px
	&.icon-close
		background-position -52px -44px
		width 28px
		height 38px
	&.icon-cart
		background-position -84px -53px
		width 29px
		height 28px
	&.icon-grid
		background-position -283px 0
		width 14px
		height 14px
	&.icon-details
		background-position -121px -60px
		width 14px
		height 14px
	&.icon-basket
		background-position -138px -42px
		width 17px
		height 16px
	&.arrow-down-blue
		background-position -93px -45px
		width 10px
		height 7px
	&.arrow-down-white
		background-position -93px -34px
		width 10px
		height 8px
	&.bg-select
		background-position -160px -45px
		width 165px
		height 26px
	&.cart-big
		background-position -328px -46px
		width 22px
		height 21px
	&.btn-close-red
		background-position -356px -47px
		width 19px
		height 19px
	&.arrow-left
		background-position -384px -42px
		width 21px
		height 20px
	&.arrow-right
		background-position -384px -65px
		width 21px
		height 20px
	&.cart-inv
		background-position -325px -76px
		width 21px
		height 21px
	&.arrow-boxed
		background-position -354px -77px
		width 25px
		height 25px
	&.star-big
		background-position -283px -77px
		width 37px
		height 36px
	&.star
		background-position -250px -78px
		width 23px
		height 22px
	&.icon-qr
		background-position -11px -93px
		width 20px
		height 20px
	&.icon-check-green
		background-position -11px -119px
		width 20px
		height 20px
	&.icon-cycle
		background-position -11px -149px
		width 19px
		height 20px
	&.icon-pie
		background-position -11px -177px
		width 17px
		height 18px
	&.icon-reload
		background-position -11px -200px
		width 20px
		height 18px
	&.icon-hat
		background-position -11px -228px
		width 20px
		height 18px
	&.icon-calendar
		background-position -11px -256px
		width 20px
		height 20px
	&.icon-medal
		background-position -11px -285px
		width 20px
		height 13px
	&.bg-widget-red
		background-position -44px -132px
		width 248px
		height 92px
	&.bg-widget-speedometer
		background-position -320px -128px
		width 86px
		height 50px
	&.bg-widget-nextRange
		background-position -187px -241px
		width 230px
		height 212px
	&.arrow-left-silver
		background-position -391px -195px
		width 16px
		height 30px
	&.facebook
		background-position -43px -238px
	&.foursquare
		background-position -103px -239px
	&.gplus
		background-position -43px -295px
	&.linkedin
		background-position -103px -295px
	&.rss
		background-position -43px -359px
	&.twitter
		background-position -103px -359px
	&.youtube
		background-position -43px -421px
	&.follow
		background-position -7px -308px
		width 25px
		height 25px
	&.download
		background-position -7px -345px
		width 25px
		height 25px
	&.back
		background-position -7px -383px
		width 25px
		height 24px
	&.icon-basket-inv
		background-position -7px -419px
		width 25px
		height 25px
	&.icon-help
		background-position -207px -74px
		height 27px
		width 27px
	&.ic-pdf
		background-position -91px -407px
		height 36px
		width 26px
	&.ic-img
		background-position -117px -407px
		height 36px
		width 26px
	&.ic-search
		background-position -102px -443px
		height 26px
		width 25px
	&.ic-fvt
		background-position -158px -74px
		height 35px
		width 41px
		&.active
			background-position -117px -74px