/**
* Resources CSS
* @class Resources Helper
* @module oficina.css
*/
.titfx
	border-bottom 2px solid #159EBE
	color #159ebe
	font 700 17px/20px family3
	margin-bottom 12px
	text-align left
.hide
	display none
.cl
	clear both
.selChangue
	clear both
	display none
.help-block
	display inline-block
	*display inline
	font-size 13px
	line-height 15px
	padding 6px 0 0 4px
	vertical-align top
	*zoom 1
.control
	text-align center
/* Alert */
.alert
	background #F2DEDE
	border 1px solid #EED3D7
	border-radius 4px
	color #B94A48
	font-size 13px
	line-height 15px
	margin-bottom 20px
	padding 8px 10px
	&.success
		background #DFF0D8
		border-color #D6E9C6
		color #468847
/* BreadCrumbs */
.breadcrumbs
	height 27px
	a
		font-size 12px
		line-height 27px
		color #6b6b6b
		&:before
			content " > "
		&:first-child:before
			content ""
		&:hover
			text-decoration underline
		&:last-child:hover
			text-decoration none
/* Slides */
.slides
	position relative
	.viewport
		overflow hidden
		position relative
		z-index 1
	.overview
		list-style none
		position absolute
		li
			float left
			margin-right 20px
			&:last-child
				margin 0
	.buttons
		background url(routImg+'sprites-productos.png') no-repeat
		height 34px
		margin-top -17px
		position absolute
		text-indent -9999px
		top 50%
		width 34px
		z-index 2
		&.disable
			display none
		&.prev
			background-position -44px -94px
			left 10px
		&.next
			background-position -84px -94px
			right 10px
/* Cantidad de caracteres */
.nchar
	font-family family2
/* jqCount */
.inpt-count
	margin 0 auto
	position relative
	width 52px
.btn-counts
	background url(routImg+"sprites-productos.png")
	border none
	height 15px
	padding 0
	position absolute
	right 0
	transition all 0.4s ease
	width 15px
	&:hover
		-ms-filter unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=70)")
		filter unquote("alpha(opacity=70)")
		opacity 0.7
	&.disabled
		-ms-filter unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=30)")
		filter unquote("alpha(opacity=30)")
		opacity 0.3
.btn-up
	background-position -297px 0
	top 0
.btn-down
	background-position -312px 0
	bottom 0
/* Alineacion */
.alg-right
	clear both
	text-align right
.alg-center
	text-align center !important
/* Colors */
.cwhite
	background #FFF
/* Estilos de posiciones */
.mt4
	margin-top 4px
.mt20
	margin-top 20px
.mb4
	margin-bottom 4px
.mb12
	margin-bottom 12px
.mb10
	margin-bottom 10px
.mb14
	margin-bottom 14px
.mb20
	margin-bottom 20px
.mb24
	margin-bottom 24px !important
.mb26
	margin-bottom 26px !important
.mb42
	margin-bottom 42px !important
.pt10
	padding-top 10px
.pt20
	padding-top 20px
.pt22
	padding-top 22px
.pt24
	padding-top 24px
.pt28
	padding-top 28px
.pt38
	padding-top 38px
.pt54
	padding-top 54px
.ptb14
	padding 14px 0
.ptb20
	padding 20px 0
.pr16
	padding-right 16px
/* Tamaños */
.w140
	width 140px !important
.w172
	width 172px
.w136
	width 136px !important
/* Tamaños de los Inputs */
.txtSmall
	width 60px !important
.txtMedium
	width 164px !important
	//*width 156px !important
.slcSmall
	width 68px !important
/* Anchos Tablas */
.tw146
	width 146px !important
.tw356
	width 356px
.tw134
	width 134px
.tdAction1
	width 20px
.tdSubTotal
	//width 100px
	width 120px
.tdPrice
	//width 92px
	width 134px
.tdPriceL
	width 152px
.tdPeso
	width 80px
.tdPoints
	//width 70px
	width 90px
.tdCant
	width 58px
.tdImg
	width 90px
.tdImgS
	width 56px
.tdProduct
	width 292px
//Estilos de Flotantes
.fl
	float left
.fr
	float right