/**
* Plugin jqPlaceholder - jqPlaceholder.js
* @class Plugin jqPlaceholder
* @module helpers.css
*/
.plc-label
	color #999
	font-size 12px
	line-height 16px
.lt-ie9
	.plc-label
		background url(routPlaceholder+"opacity.png")