/**
* Plugin Tipsy - Framework.js
* @class Plugin Tipsy
* @module helpers.css
*/
.tipsy
	background url(routImgTipsy+"tipsy.gif") no-repeat
	font-size 10px
	padding 5px
.tipsy-inner
	background-color #000
	color #FFF
	max-width 496px
	padding 5px 8px 4px
	text-align center
.tipsy-north
	background-position center top
.tipsy-south
	background-position center bottom
.tipsy-east
	background-position right center
.tipsy-west
	background-position left center