/**
* Contents CSS
* @class Contents Helper
* @module oficina.css
*/
#wrapper
	margin 0 auto
	min-height 600px
	position relative
	width 940px
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.box-center
	margin 0 auto
	position relative
	width 940px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both