/**
* Resources CSS
* @class Resources Helper
* @module oficina.css
*/
.lt-ie9
	.pcateg-title
		filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#868686',GradientType=0)")
	.tit-bxcat
		filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#333333',GradientType=0)")
	.fx-back
		filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#474747',GradientType=0)")
		&:hover
			filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#616161',GradientType=0)")