/**
* Resources CSS
* @class Resources Helper
* @module oficina.css
*/
.black-lnk
	color #000
	font 15px/16px family1
	&:hover
		text-decoration underline
.color-green
	color #b7cd49
.color-orange
	color #EE8100
.color-red
	color #FE0002
	font-size 12px
.color-blue
	color #008fd1
.hide
	display none
.cl
	clear both
.selChangue
	clear both
	display none
.help-block
	display inline-block
	*display inline
	font-size 13px
	line-height 15px
	padding 6px 0 0 4px
	vertical-align top
	*zoom 1
.center-item
	text-align center
/* Alert */
.alert
	background #F2DEDE
	border 1px solid #EED3D7
	border-radius 4px
	color #B94A48
	font-size 13px
	line-height 15px
	margin-bottom 20px
	padding 8px 10px
	&.success
		background #DFF0D8
		border-color #D6E9C6
		color #468847
/* Alineacion */
.left-cnt
	float left
.right-cnt
	float right
.alg-right
	clear both
	text-align right
.alg-center
	text-align center
/* Estilos de posiciones */
.pt66
	padding-top 66px !important
.lh14
	line-height 14px !important
.mt20
	margin-top 20px
.mt60
	margin-top 60px
.mb35
	margin-bottom 35px
.pt10
	padding-top 10px
.pt20
	padding-top 20px
.pb20
	padding-bottom 20px
.ml60
	margin-left 60px
/* Tamaños */
.w72
	width 72px !important
.w140
	width 140px !important
.w136
	width 136px !important
/* Plugins */
.fancybox-skin
	background #FFF !important