include jade/vars.jade
include jade/head.jade
body
	include jade/header.jade
	#wrapper
		#main-slider
			.slide-main
				.ctn-carsteps
					.hr-csteps
					ul.list-csteps
						li
							span.cstep 1
							p Productos
						li
							span.cstep 2
							p Resumen
						li.active
							span.cstep 3
							p Envío
						li.fix
							span.cstep 4
							p Pago
				.ctn-step3
					form
						.row.frm-step3
							.step3-left
								h2 DATOS PERSONALES
								.control-group
									input(type="text",class="inpt-small",placeholder="NOMBRE")
								.control-group
									input(type="text",class="inpt-small",placeholder="APELLIDO")
								.control-group
									input(type="text",class="inpt-small",placeholder="EMAIL")
							.step3-right
								h2 DATOS DE ENVÍO
								.cgroup-inline.last
									.control-group
										select(class="select-large selDireccion")
											option -Seleccione una dirección-
									.control-group
										a(class="btn-fuxion btnAddress",href="javascript:;") Nueva dirección
								.ctn-address
									.cgroup-inline
										.control-group
											select(class="select-medium")
												option -Pais-
										.control-group
											select(class="select-medium") 
												option -Departamento-
									.cgroup-inline
										.control-group
											select(class="select-medium")
												option -Provincia-
										.control-group
											select(class="select-medium") 
												option -Distrito-
									.cgroup-inline
										.control-group
											select(class="select-small")
												option -Provincia-
										.control-group
											input(type="text",class="inpt-xsmall",placeholder="Dirección")
									.control-group.last
										input(type="text",class="inpt-large",placeholder="Referencia")
					.control
						button(type="submit",class="btn-lnk btn-cart") Siguiente
							span
	nav.main-menu
		ul
			li
				a(class="active",href="javascript:;",title="Inicio") INICIO
					span
			li
				a(href="javascript:;",title="Productos") PRODUCTOS
					span
			li
				a(href="oportunidad.html",title="Oportunidad") OPORTUNIDAD
					span
			li
				a(href="compania.html",title="Compañía") COMPANIA
					span
			li
				a(href="contactame.html",title="Contáctame") CONTACTAME
					span
			li
				a(href="javascript:;",title="Carrito") CARRITO
					span