include jade/vars.jade
include jade/head.jade
body
	.decor-top
	.decor-bottom
	header
		.top-header
		h1.logo-fuxion
			a(href="javascript:;",title="Fuxion") Fuxion
	#wrapper
		.ctn-bgfx
			.bgfx1
			.bgfx2
		#oportunity.row-well
			.cms-img
				img(src="img/element/piram3.jpg")
			.cms-descrp.oportunity3
				h2 LIBERTAD FINANCIERA
				p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer oonful  acture, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
				img(src="img/element/oportunity3.jpg")
	nav.main-menu
		ul
			li
				a(href="/",title="Inicio") INICIO
					span.fx-descrp
			li
				a(href="javascript:;",title="Productos") PRODUCTOS
					span
			li
				a(class="active",href="javascript:;",title="Oportunidad") OPORTUNIDAD
					span
			li
				a(href="compania.html",title="Compañía") COMPANIA
					span
			li
				a(href="contactame.html",title="Contáctame") CONTACTAME
					span
			li
				a(href="javascript:;",title="Carrito") CARRITO
					span