include jade/vars.jade
include jade/head.jade
body
	include jade/header.jade
	#wrapper
		#main-slider
			#oportunity.slide-main
				.cms-img
					img(src="img/element/piram1.jpg")
				.cms-descrp.oportunity1
					h2 SALUD VERDADERA
					p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer oonful  acture, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
					img(src="img/element/oportunity1.jpg")
	nav.main-menu
		ul
			li
				a(href="/",title="Inicio") INICIO
					span.fx-descrp
			li
				a(href="javascript:;",title="Productos") PRODUCTOS
					span
			li
				a(class="active",href="javascript:;",title="Oportunidad") OPORTUNIDAD
					span
			li
				a(href="compania.html",title="Compañía") COMPANIA
					span
			li
				a(href="contactame.html",title="Contáctame") CONTACTAME
					span
			li
				a(href="javascript:;",title="Carrito") CARRITO
					span