include jade/vars.jade
include jade/head.jade
body
	.decor-top
	.decor-bottom
	header
		.top-header
		h1.logo-fuxion
			a(href="javascript:;",title="Fuxion") Fuxion
	#wrapper
		.ctn-bgfx
			.bgfx1
			.bgfx2
		.row-well.fix
			.prod-lcateg
				ul.lcateg-list
					li.lcat1
						h3 ANTIEDAD
						a(href="javascript:;",title="Antiedad")
					li.lcat2
						h3 INCREMENTAR VIGOR MENTAL
						a(href="javascript:;",title="Incrementar vigor mental")
					li.lcat3
						h3 SISTEMA INMUNOLÓGICO
						a(href="javascript:;",title="Sistema inmunológico")
					li.lcat4
						h3 BAJAR DE PESO
						a(href="javascript:;",title="Bajar de peso")
					li.lcat5
						h3 INCREMENTO MUSCULAR
						a(href="javascript:;",title="Incremento muscular")
					li.lcat6
						h3 PARA LA MUJER
						a(href="javascript:;",title="Para la mujer")
					li.lcat7
						h3 KIDS
						a(href="javascript:;",title="Kids")
			.prod-list
				.slid-product
					.product
						h2 ALUMBRA 2014 ETAPA 1
						a(href="javascript:;",title="Alumbra 2014 Etapa 1")
							img(src="img/element/product/product1.jpg",width="136",height="120",alt="Alumbra 2014 Etapa 1")
							span.prod-decor Comprar
								span
					.product
						h2 BELLAS
						a(href="javascript:;",title="Bellas")
							img(src="img/element/product/product2.jpg",width="136",height="120",alt="Bellas")
							span.prod-decor Comprar
								span
					.product
						h2 BIOPRO TECT
						a(href="javascript:;",title="Biopro Tect")
							img(src="img/element/product/product3.jpg",width="136",height="120",alt="Biopro Tect")
							span.prod-decor Comprar
								span
					.product
						h2 BIOPRO + SPORT - VAINILLA
						a(href="javascript:;",title="Biopro + Sport - Vainilla")
							img(src="img/element/product/product4.jpg",width="136",height="120",alt="Biopro + Sport - Vainilla")
							span.prod-decor Comprar
								span
					.product
						h2 BIOPRO + TECT
						a(href="javascript:;",title="Biopro + Tect")
							img(src="img/element/product/product5.jpg",width="136",height="120",alt="Biopro + Tect")
							span.prod-decor Comprar
								span
					.product
						h2 CAFE CAPPUCCINO GANOMAS
						a(href="javascript:;",title="Cafe Cappuccino Ganomas")
							img(src="img/element/product/product6.jpg",width="136",height="120",alt="Cafe Cappuccino Ganomas")
							span.prod-decor Comprar
								span
				.slid-nav
					a(href="javascript:;",title="Anterior",class="btnav prev") Anterior
					a(href="javascript:;",title="Siguiente",class="btnav next") Siguiente
	nav.main-menu
		ul
			li
				a(class="active",href="javascript:;",title="Inicio") INICIO
					span
			li
				a(href="javascript:;",title="Productos") PRODUCTOS
					span
			li
				a(href="oportunidad.html",title="Oportunidad") OPORTUNIDAD
					span
			li
				a(href="compania.html",title="Compañía") COMPANIA
					span
			li
				a(href="contactame.html",title="Contáctame") CONTACTAME
					span
			li
				a(href="javascript:;",title="Carrito") CARRITO
					span