/**
* Content CSS
* @class View Helper
* @module admin.css
*/
#wrapper
	height 446px
	margin-top -223px
	position absolute
	top 50%
	width 100%
	z-index 2
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both