/**
* Table CSS
* @class View Helper
* @module table.css
*/
.tdItem
	width 266px
td.tdItem
	text-align left !important
.tdCant
	width 64px
.tdAction
	width 16px
.tdTotal
	color #db8f1b !important
	width 84px
.tdPrice
	width 82px
.tdSummEsp
	width 68px
.tdSummPrice
	text-align right !important
	width 90px
.tw120
	width 120px
.tdState
	color #DB8F1B !important
	width 134px
.tdDate
	width 96px
.tdOrder
	width 130px