/**
* Header CSS
* @class Header
* @module layout.css
*/
header
	height 10px
	left 0
	position absolute
	top 0
	width 100%
	z-index 3
.top-header
	background #0091D7
	height 10px
.logo-fuxion
	background url(routImg+"icon-set.png") decorLogo no-repeat
	height 78px
	left 50%
	margin-left -141px
	position absolute
	top 10px
	width 238px
	a
		background url(routImg+"icon-set.png") logoFuxion no-repeat
		height 44px
		left 50%
		margin-left -56px
		position absolute
		text-indent -9999px
		top 5px
		width 112px