/**
* Admin Desafio CSS
* @class Admin Desafio
* @module desafio.css
*/
.frmLoginAdmin
	margin 0 auto
	padding-top 46px
	width 272px
	h2
		color #008FD1
		font 19px/20px family1
		text-align center
	.frm-group
		input
			width 250px
.control
	text-align center
.ctnAdminDesaf
	.dataTable
		border-left 1px solid #DDD
		border-right 1px solid #DDD
	.datatable-header,.datatable-footer
		background none
	.dataTables_filter input[type="text"]
		background #FFF
	.dataTables_paginate
		margin-right 0
	.dataTables_length
		padding-right 0
	.dataTables_info,.dataTables_filter
		padding-left 0
.admin-title
	color #008FD1
	font 22px/24px family1
	margin-bottom 14px
.filAdmDesaf
	border-bottom 1px solid #DDD
	margin-bottom 4px
	padding-bottom 16px
	.control-label
		float left
		line-height 25px
		padding-bottom 0
		width 70px
	.frm-control
		float left
	select
		border 1px solid #D7D7D7
		border-radius 0
		width 52px
.menu-admin
	float left
	margin-top -10px
	position relative
	width 160px
	z-index 2
	li
		margin-top 2px
		&:first-child
			margin 0
	a
		color #fff
		display block
		font 14px/16px family1
		height 16px
		padding 29px 0 29px 64px
		position relative
		transform opacity .3s ease
		&:hover
			opacity 0.9
		span
			background-image url(routImg+"icon-admin.png")
			left 9px
			position absolute
	.sendMessage
		background #db6d40
		span
			height 31px
			top 20px
			width 42px
	.sendAlert
		background #aa95c4
		span
			background-position -42px 0
			height 40px
			left 7px
			top 16px
			width 45px
	.sendActive
		background #7dc5e6
		span
			background-position -87px 0
			height 43px
			top 15px
			width 43px
.popSendMessage
	padding 10px
	width 342px
	h2
		color #008FD1
		font 16px/18px family1
		margin-bottom 14px
		padding-top 4px
		text-align center
		text-transform uppercase
	input, textarea
		width 320px
.tit-competitor
	color #008FD1
	font 20px/22px family1
	margin-bottom 10px
	padding-top 20px
	text-align center
.lback-AdminDesaf
	font-size 14px
	margin-bottom 28px
	text-align right
	a
		color #EE8100
		&:hover
			text-decoration underline
.fancyArrows
	.fancybox-nav
		span
			visibility visible
.feed-imgs
	img
		cursor pointer
		margin 0
		border none
		box-shadow 1px 1px 3px 1px #B1B1B1
.btn-green
	position absolute
	top 0
	right 0
.feed-box
	h2
		font-size 15px
		padding-top 8px
.btn-greenHome
	right 270px
	top 35px
.cnt-nutrition
	float inherit
	margin 0 auto
.modalFeed
	float left
	margin 10px 65px
	position relative
	&:hover
		.topText
			opacity 0.5
	.topText
		background #008FD1
		border-radius 5px 5px 0 0
		color #FFF
		font-size 11px
		height 30px
		line-height 30px
		padding 2px 0px 0px 8px
		width 200px
	.fix1
		line-height normal
	.downFeed
		width 92px
		height 19px
		position absolute
		bottom 0
		right 0
	.mailFeed
		width 25px
		height 19px
		position absolute
		opacity 0.6
		bottom 0
		right 95px
.btn-download
	background url(routImg+'icon-desafio.png') no-repeat -1px -155px
	opacity 0.8
	outline none
	&:hover
		opacity 1
.btn-mail
	background url(routImg+'icon-desafio.png') -98px -155px no-repeat
	height 19px
	outline none
	width 26px
	&:hover
		opacity 1
#mailModal
	width 350px
	height 120px
	.title
		color #008FD1
		font-size 18px
		margin-top 5px
	.control-input
		margin-top 30px
		text-align center
		input
			width 320px
			border 1px solid #888
	#txtMail
		width 300px