include jade/vars.jade
include jade/head.jade
body
	header.header
		.box-center
			h1
				a(href='javascript:;', class="logo-lnk", title="Desafío Fuxion") Desafío Fuxion
			a(href='javascript:;', class="btn-home", title="Home")
				span
				| Home
	#wrapper.row
		ul.menu-colors
			li
				a(href='javascript:;', class="", title="Como participar")
					| Como<br>participar
					span.people
			li
				a(href='javascript:;', class="skyblue", title="Como participar")
					span.numbers
					| Determina<br>tu estado<br>fisico actual
			li
				a(href='javascript:;', class="orange", title="Como participar")
					span.numbers.two
					| registrate
			li
				a(href='javascript:;', class="green", title="Como participar")
					span.numbers.three
					| define tu<br>alimentación
		.content-desafio
			.img-step-home
				img(src="http://local.desafio/static/img/desafio/elements/baner-participar.jpg", alt="Desafío Fuxion",width="660",height="370")
			h2.title-steps ¿Cómo participar?
			ul.list-numbers
				li Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id.
				li Quo mundi lobortis reformidans eu, legimus senserit definiebas an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque eu per.
				li In usu latine equidem dolores. Quo no falli viris intellegam, ut fugit veritus placerat per.
				li Lus id vidit volumus mandamus, vide veritus democritum te nec, ei eos debet libris consulatu.
				li No mei ferri graeco dicunt, ad cum veri accommodare. Sed at malis omnesque delicata, usu et iusto zzril meliore. Dicunt maiorum eloquentiam cum cu.
				li Set summo dolor essent te. Ne quodsi nusquam legendos has, ea dicit voluptua eloquentiam pr.
				li Ad sit quas qualisque. Eos vocibus deserunt quaestio ei.
			a(href='javascript:;', class="btn-green", title="Inicia tu reto ya") ¡ INICIA TU RETO YA !
