include jade/vars.jade
include jade/head.jade
body
	header.header
		h1
			a(href='javascript:;', class="logo-lnk", title="Desafío Fuxion") Desafío Fuxion
	nav.main-menu
		ul
			li
				a(href="estado.html",title="Estado") 
					span
					| estado
			li
				a(href="consumos.html",title="Mis consumos") 
					span.mitem2
					| mis consumos
			li
				a(href="avances.html",title="Avances") 
					span.mitem3
					| avances
			li
				a(href="mentor.html",title="Mentor") 
					span.mitem4
					| mentor
			li
				a(href="contactenos.html",title="contáctenos") 
					span.mitem5
					| contáctenos
	#wrapper
		.baner
			.img-baner
				img(src="http://local.desafio/static/img/desafio/elements/baner.jpg", alt="Desafío Fuxion",width="890",height="538")
			a(href='javascript:;', class="baner-lnk", title="Ir a el Desafio Fuxion") ir a el desafio fuxion
		.row.highinfo
			.left-cnt
				a(href='javascript:;', class="black-lnk", title="Términos y condiciones") Términos y condiciones
			.right-cnt
				p Para más información:
				a(href='mailto:desafiofuxion2013@prolife.com', class="black-lnk", title="desafiofuxion2013@prolife.com") desafiofuxion2013@prolife.com
		.row
			.box-data
				h2 LOREM IPSUN
				p Sed iusto nihil populo an, ex pro novum homero cotidieque. Te utamur civibus eleifend qui, nam ei brute doming concludaturque, modo aliquam facilisi nec no. Vidisse maiestatis constituam eu his, esse pertinacia intellegam ius cu. Eos ei odio veniam, eu sumo altera adipisci eam, mea audiam prodesset persequeris ea. Ad vitae dictas vituperata sed, eum posse labore postulant id. Te eligendi principes dignissim sit, te vel dicant officiis repudiandae.
				a(href='javascript:;', class="black-lnk", title="Ver más") Ver más
			.box-data
				h2 LOREM IPSUN
				p Sed iusto nihil populo an, ex pro novum homero cotidieque. Te utamur civibus eleifend qui, nam ei brute doming concludaturque, modo aliquam facilisi nec no. Vidisse maiestatis constituam eu his, esse pertinacia intellegam ius cu. Eos ei odio veniam, eu sumo altera adipisci eam, mea audiam prodesset persequeris ea. Ad vitae dictas vituperata sed, eum posse labore postulant id. Te eligendi principes dignissim sit, te vel dicant officiis repudiandae.
				a(href='javascript:;', class="black-lnk", title="Ver más") Ver más
			.box-data
				h2 LOREM IPSUN
				p Sed iusto nihil populo an, ex pro novum homero cotidieque. Te utamur civibus eleifend qui, nam ei brute doming concludaturque, modo aliquam facilisi nec no. Vidisse maiestatis constituam eu his, esse pertinacia intellegam ius cu. Eos ei odio veniam, eu sumo altera adipisci eam, mea audiam prodesset persequeris ea. Ad vitae dictas vituperata sed, eum posse labore postulant id. Te eligendi principes dignissim sit, te vel dicant officiis repudiandae.
				a(href='javascript:;', class="black-lnk", title="Ver más") Ver más
	footer
		.box-center
			nav.foot-menu
				a(href="estado.html",title="Estado") estado
				a(href="consumos.html",title="Mis consumos") mis consumos
				a(href="avances.html",title="Avances") avances
				a(href="mentor.html",title="Mentor") mentor
				a(href="contactenos.html",title="contáctenos") contáctenos
			p Copyrigth © 2013 Prolife Biotech. Todos los derechos reservados
