include jade/vars.jade
include jade/head.jade
body
	header.header
		.box-center
			h1
				a(href='javascript:;', class="logo-lnk", title="Desafío Fuxion") Desafío Fuxion
			a(href='javascript:;', class="btn-home", title="Home")
				span
				| Home
	#wrapper.row
		ul.menu-colors
			li
				a(href='javascript:;', class="", title="Como participar")
					| Como<br>participar
					span.people
			li
				a(href='javascript:;', class="skyblue", title="Como participar")
					span.numbers
					| Determina<br>tu estado<br>fisico actual
			li
				a(href='javascript:;', class="orange", title="Como participar")
					span.numbers.two
					| registrate
			li
				a(href='javascript:;', class="green active", title="Como participar")
					span.numbers.three
					| define tu<br>alimentación
		.content-desafio
			.img-step
				img(src="http://local.desafio/static/img/desafio/elements/paso3.jpg", alt="Desafío Fuxion",width="750",height="240")
			.bg-green
				span
				h2 DEFINE TU ALIMENTACIÓN
			.feed-box
				h2.color-blue SISTEMA FUXION PARA BAJAR DE PESO Y<br>REDUCIR MEDIDAS
				.bg-blue
					span
					p Sed iusto nihil populo an, ex pro novum homero cotidieque.<br>Te utamur civibus eleifend qui, nam ei brute doming concludaturque,<br>modo aliquam facilisi nec no. Vidisse maiestatis constituam eu h
				.row
					.detail-feed
						h3 Vel sensibus honestatis omittantur,<br>vel cu nobis commune patrioque.
						p Mea te unum viderer dolores, nostrum detracto nec in, vis no partem definiebas constituam. Dicant utinam philosophia has cu, hendrerit prodesset at nam, eos an bonorum dissentiet. Has ad placerat intellegam consectetuer, no adipisci mandamus senserit pro, torquatos similique percipitur est ex. Pro ex putant deleniti repudiare, vel an aperiam sensibus suavitate. Ad vel epicurei convenire, ea soluta aliquid deserunt ius, pri in errem putant feugiat.
					.detail-feed
						h3 Vel sensibus honestatis omittantur,<br>vel cu nobis commune patrioque.
						p Mea te unum viderer dolores, nostrum detracto nec in, vis no partem definiebas constituam. Dicant utinam philosophia has cu, hendrerit prodesset at nam, eos an bonorum dissentiet. Has ad placerat intellegam consectetuer, no adipisci mandamus senserit pro, torquatos similique percipitur est ex. Pro ex putant deleniti repudiare, vel an aperiam sensibus suavitate. Ad vel epicurei convenire, ea soluta aliquid deserunt ius, pri in errem putant feugiat.
					.feed-imgs
						img(src="http://local.desafio/static/img/desafio/elements/feed1.jpg", alt="Desafío Fuxion",width="218",height="119")
						img(src="http://local.desafio/static/img/desafio/elements/feed2.jpg", alt="Desafío Fuxion",width="218",height="119")
						img(src="http://local.desafio/static/img/desafio/elements/feed3.jpg", alt="Desafío Fuxion",width="218",height="119")
						img(src="http://local.desafio/static/img/desafio/elements/feed4.jpg", alt="Desafío Fuxion",width="218",height="119")
