include jade/vars.jade
include jade/head.jade
body
	header.header
		.box-center
			h1
				a(href='javascript:;', class="logo-lnk", title="Desafío Fuxion") Desafío Fuxion
			a(href='javascript:;', class="btn-home", title="Home")
				span
				| Home
	#wrapper.row
		ul.menu-colors
			li
				a(href='javascript:;', class="", title="Como participar")
					| Como<br>participar
					span.people
			li
				a(href='javascript:;', class="skyblue", title="Como participar")
					span.numbers
					| Determina<br>tu estado<br>fisico actual
			li
				a(href='javascript:;', class="orange", title="Como participar")
					span.numbers.two
					| registrate
			li
				a(href='javascript:;', class="green", title="Como participar")
					span.numbers.three
					| define tu<br>alimentación
		.content-desafio
			.bg-green
				span
				h2 RESUMEN DE DATOS
			h3.title-headorange DETERMINA TU SITUACIÓN ACTUAL DE PESO
			.title-step
				span.step-number
					p Paso 1
					span
				span.step-title
					span
					p A - Determina tu estado actual 
					span.triangle-right
				a(href="javascript:;", class="step-lnk", title="EDITAR")
					span
					p EDITAR
			.row
				dl.data-review
					dt GENERO
					dd 
						span : 
						| Masculino
					dt MEDIDAS
					dd.txtline
						span : 
						| Talla 1.73 mts.      Peso 110 Kgs       Muñeca 23 cm      Indice de grasa  30%
					dt MASA MUSCULAR 
					dd 
						span : 
						| Media
					dt CINTURA
					dd
						span : 
						| 120 cm
					dt ESPALDA
					dd
						span : 
						| 120 cm
					dt CADERA
					dd
						span : 
						| 120 cm
					dt PECHO
					dd
						span : 
						| 120 cm
			.title-step
				span.step-number
					p Paso 1
					span
				span.step-title
					span
					p B - ¿Qué quieres lograr?
					span.triangle-right
				a(href="javascript:;", class="step-lnk", title="EDITAR")
					span
					p EDITAR
			.row
				dl.data-review
					dt TIEMPO
					dd 
						span : 
						| 12 semanas
					dt ¿ CUANTOS KILOS<br>QUIERES BAJAR ?
					dd.twoline
						span : 
						| 20 Kg.
					dt INDICE DE GRASA
					dd 
						span : 
						| 10 %
					dt CINTURA
					dd
						span : 
						| 120 cm
					dt ESPALDA
					dd
						span : 
						| 120 cm
					dt CADERA
					dd
						span : 
						| 120 cm
					dt PECHO
					dd
						span : 
						| 120 cm
				dl.data-review
					dt MOTIVO PARA<br>BAJAR DE PESO
					dd.twoline
						span : 
						| Me siento desmotivado
					dt COMPROMISO
					dd 
						span : 
						| Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus suscipiantur, quo dicit ridens inciderint id. 
			.title-step.step-two
				span.step-number
					p Paso 2
					span
				span.step-title
					span
					p A - Datos iniciales
					span.triangle-right
				a(href="javascript:;", class="step-lnk", title="EDITAR")
					span
					p EDITAR
			.row
				dl.data-review
					dt NOMBRE
					dd 
						span : 
						| KENY
					dt APELLIDO MATERNO
					dd
						span : 
						| Mayers
					dt CÓDIGO DE EF- CP
					dd 
						span : 
						| 12332
					dt EMAIL
					dd.txtline
						span : 
						| fuxionkeny123@gmail.com
				dl.data-review
					dt APELLIDO PATERNO
					dd
						span : 
						| García
					dt SEUDÓNIMO
					dd
						span : 
						| Kenny
					dt RPM
					dd
						span : 
			.title-step.step-two
				span.step-number
					p Paso 2
					span
				span.step-title
					span
					p B- Fotos iniciales
					span.triangle-right
				a(href="javascript:;", class="step-lnk", title="EDITAR")
					span
					p EDITAR
			.row.pics-beginning
				span
					.box-pictures
						img(src="http://local.desafio/static/img/desafio/elements/picture.jpg", alt="Desafío Fuxion",width="89",height="77")
					p Wincha de peso
				span
					.box-pictures
						img(src="http://local.desafio/static/img/desafio/elements/picture.jpg", alt="Desafío Fuxion",width="89",height="77")
					p Frente
				span
					.box-pictures
						img(src="http://local.desafio/static/img/desafio/elements/picture.jpg", alt="Desafío Fuxion",width="89",height="77")
					p Perfil 
			.title-step.step-two
				span.step-number
					p Paso 2
					span
				span.step-title
					span
					p C- Mentor
					span.triangle-right
				a(href="javascript:;", class="step-lnk", title="EDITAR")
					span
					p EDITAR
			.row
				dl.data-review
					dt CÓDIGO EF- CP
					dd 
						span : 
						| 1244322
					dt APELLIDO PATERNO
					dd
						span : 
						| Curay
					dt TELÉFONO
					dd 
						span : 
						| 234-232
					dt EMAIL
					dd.txtline
						span : 
						| fuxioncuray@prolife.com
				dl.data-review
					dt NOMBRE
					dd
						span : 
						| MAYRO
					dt APELLIDO MATERNO
					dd
						span : 
						| Guido
					dt CELULAR
					dd
						span :
			.data-extra
					h3 TERMINOS Y CONDICIONES
					p Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an.
					h3 DURACIÓN DEL  DESAFIO
					p 12 Semanas
					h3 FECHA DE INICIO
					p Martes, 10 de Diciembre 2013
					h3 FECHA DE CIERRE
					p Martes, 10 de Diciembre 2014
			.row
				a(href="javascript:;", class="btn right-cnt", title="CONFIRMAR") CONFIRMAR