/**
* Compra Rapida CSS
* @class QuickCart
* @module oficina.css
*/
.ctn-paysearch
	border 1px solid #e6e6e6
	border-radius 5px
	margin-bottom 10px
	padding 6px 0 6px 20px
	.cgroup-inline
		margin 0
		.control-group
			margin-left 30px
			padding-top 5px
			&:first-child
				margin 0
			&.fix
				padding 0
	.control-label
		color #9b9b9b
		font-size 12px
		font-weight 400
	input[type="text"]
		width 175px
	select
		width 185px
.qkcart-result
	color #656565
	font-size 12px
	line-height 14px
	margin-bottom 10px
	padding-left 20px
.tbl-hdqkcart
	td
		background #e2e2e2
		color #656565
		font-size 12px
		font-weight 700
		padding 6px 10px
		text-align center
		word-break break-all
		word-wrap break-word
	.tdPrice
		width 110px
.tbl-qkresult
	tr
		&:hover
			background #f5f5f5
	td
		font-size 13px
		padding 4px 10px
		text-align center
	h2
		font-size 14px
		font-weight 700
		line-height 15px
		a
			color #686868
	.tdPrice
		width 110px
	.tdProduct
		text-align left
	.ic-fvt
		display inline-block
		*display inline
		margin-left 4px
		text-indent -9999px
		transition opacity .3s ease
		vertical-align middle
		*zoom 1
		&:hover
			opacity 0.8
	.tdImg img
		display block
		height 80px
		width 90px
#scrollQkResult
	overflow hidden
	position relative
	&.nscroll
		.scrollbar
			display none
		.viewport
			width 944px
		.overview
			width 944px
	.viewport
		height 352px
		width 938px
	.overview
		width 938px
	.scrollbar
		border none
		height 352px
		width 6px
		&.disable
			display none
	.track, .thumb
		width 6px
	.track
		box-shadow none
		padding 0
	.thumb
		border-radius 4px
		left 0
.qkcart-address
	padding 0 6px 14px
	.ioption
		color #656565
		font-size 13px
		line-height 17px
		margin-bottom 10px
		padding-left 32px
		span
			color #000
			font-size 14px
			line-height 17px
.qkcart-typay
	float left
	padding 0 0 14px 6px
	width 174px
	.ioption
		color #000
		font-size 14px
		line-height 17px
		margin-top 10px
		padding-left 32px
		&:first-child
			margin 0
.qkcart-typydet
	float left
	padding-top 24px
	width 760px
	dt
		color #000
		float left
		font-size 14px
		line-height 23px
		margin-left 10px
		padding 0
		width auto
		&:first-child
			margin 0
	dd
		color #656565
		float left
		font-size 13px
		height 23px
		line-height 14px
		margin-left 10px
		padding 0
		width 170px
	input
		display block
		height 15px
		line-height 15px
		width 148px
.pdescr
	color #858585
	font-size 12px
	padding-left 12px
	line-height 14px
.ctnMtPay
	margin-top 24px
	padding-left 12px
	.control-group
		margin-left 30px
		&:first-child
			margin 0
	.control-label
		color #656565
		font-size 12px
	.selChangue
		clear inherit
.popAddress
	border none
	display block
	padding 6px
	width 828px
	.control-group .control-label
		font-size 12px
		padding-top 6px
	h2
		color #DB8F1B
		font-family family3
		font-size 18px
		line-height 20px
		margin-bottom 18px
		text-align center
.ctn-resultqk
	border-bottom 1px solid #bebebe
	margin-bottom 20px
.slrChangue
	display none