/**
* Header CSS
* @class Header
* @module layout.css
*/
header
	margin-bottom 38px
	position relative
	z-index 2
.top-header
	background #0091D7
	height 10px
.logo-fuxion
	background url(routImg+"icon-set.png") decorLogo no-repeat
	height 119px
	margin 0 auto
	position relative
	width 270px
	a
		background url(routImg+"icon-set.png") logoFuxion no-repeat
		height 61px
		left 50%
		margin-left -60px
		position absolute
		text-indent -9999px
		top 13px
		width 120px