/**
* Footer Section
* @class Footer
* @module style.css
*/
footer
	background url(routImg+"bg-nav.jpg")
	position absolute
	bottom 0
	width 100%
	left 0
	.box-center
		padding 10px 5px
		width 970px
	p
		color #696969
		font-size 11px
	a
		color #FFF