/**
* Header Section
* @class Header
* @module style.css
*/
header	
	color #EEE
	height 36px
	margin-bottom 30px
	.fix
		background url(routImg+"bg-nav.jpg")
		height 36px
		position fixed
		width 100%
		z-index 999
.head-user
	color #FFF
	float left
	font-size 11px
	margin-top 8px
	padding 4px 0 3px 34px
	position relative
	span
		background url(routImg+"icon-set.png") icLogin
		height 20px
		left 0
		position absolute
		top 0
		width 22px
.head-options
	float right
	font-size 11px
	height 36px
	li
		border-right 1px solid #2F2F2F
		float left
		&:first-child
			border-left 1px solid #2F2F2F
	a
		color #EEE
		display block
		height 20px
		line-height 20px
		padding 8px 14px 8px 35px
		position relative
		&:hover
			background #212121
			text-decoration none
	span
		background-image url(routImg+"icon-set.png")
		background-repeat no-repeat 
		height 11px
		left 14px
		position absolute
		top 13px
		width 11px
	.ichd-perfil
		background-position icPerfil
	.ichd-logout
		background-position icLogout