header.header
	.box-center
		a(href='#').sprites.logo-inv
		aside.ctn-infuser
			.info-user
				.user-pic.sprites-p.icon-user
				h3 Hola, Eduardo Roger
				h4 Codigo Fuxion: 120535
				i.flag
			.info-cart
				i.sprites-p.icon-cart
				h3 120 Producto(s)
				.cart-cont
					a(href='#') Ver Carrito 
					i.sprites-p.arrow-down-white
			.info-logOut
				i.sprites-p.icon-close
				a(href='#') Cerrar Sesión	
		.cart-popUp
			.triangulo
			ul.list-scar
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
				li 
					img
					h3 Producto 1
					h4 3 Productos
		include nav.jade