/**
* Content CSS
* @class View Helper
* @module admin.css
*/
#wrapper
	margin-bottom 88px
	position relative
	z-index 2
	*zoom 1
		&:before,&:after
			display table
			content ""
			line-height 0
		&:after
			clear both