/**
* Contents Section
* @class Contents
* @module base.css
*/
.box-center
	margin 0 auto
	width 980px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.row
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
#wrapper
	width 980px
	margin 0 auto
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.sidebar
	float left
	margin-right 30px
	width 212px
.container
	float left
	min-height 220px
	padding 85px 0 40px
	width 738px
.row-well
	background #FAFAFA
	border 1px solid #D5D5D5
	border-radius 2px
	padding 18px
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
.frm-panel
	background #FAFAFA
	border 1px solid #D5D5D5
	.row-well
		border none